# WeatherPy

In [94]:
import pandas as pd
import requests as req
from citipy import citipy 
import matplotlib.pyplot as plt
import seaborn as sns
import random
import time as time
pd.options.mode.chained_assignment = None
key="5f41a0ecbd821c8225b9c20de6cc9b04"

In [95]:
#create list of random latitudes and longitudes
data= pd.DataFrame(columns =['Lat',"Lng","City","Temperature","Humidity","Clouds","Wind Speed"])
lat = []
lng = []
for x in range(0,1200):
    lat.append(random.uniform(-90,91))
    lng.append(random.uniform(-181,181))
data['Lat']=lat
data['Lng']=lng
data.head()

         Lat         Lng City Temperature Humidity Clouds Wind Speed
0 -81.773713 -167.330772  NaN         NaN      NaN    NaN        NaN
1  63.668012 -109.939611  NaN         NaN      NaN    NaN        NaN
2 -58.209478   37.752466  NaN         NaN      NaN    NaN        NaN
3  29.003821 -161.698903  NaN         NaN      NaN    NaN        NaN
4 -43.159148   -9.568700  NaN         NaN      NaN    NaN        NaN

In [96]:
#find the cities related to the coordinates
cities =[]
for index, row in data.iterrows():
    city=citipy.nearest_city(row["Lat"],row["Lng"])
    cities.append(city.city_name)
data['City']=cities
data.head()

         Lat         Lng         City Temperature Humidity Clouds Wind Speed
0 -81.773713 -167.330772       avarua         NaN      NaN    NaN        NaN
1  63.668012 -109.939611  yellowknife         NaN      NaN    NaN        NaN
2 -58.209478   37.752466  port alfred         NaN      NaN    NaN        NaN
3  29.003821 -161.698903        kapaa         NaN      NaN    NaN        NaN
4 -43.159148   -9.568700    jamestown         NaN      NaN    NaN        NaN

In [97]:
#check for and remove duplicates and make sure there are atleast 500 unique cities to test
new_data = data.drop_duplicates("City",keep="first")
len(new_data)

491

In [98]:
#create empty arrays to store the data for temperature, humidity, clouds, and wind speed 
temp = []
humidity =[]
clouds = []
wind = []

counter = 0
url = "https://api.openweathermap.org/data/2.5/weather?q="
units = "imperial"

#iterate through the rows to pull data from the api 
for index, row in new_data.iterrows():
    counter +=1
    city = row["City"]
    target_url = url+city+"&appid="+key+"&units="+units
    print("we are now on city number "+str(counter))
    print("The name of the city is "+row["City"])
    print(target_url)
    print("__________________________________________________________________________________________")
    info = req.get(target_url).json()
    temp.append(info['main']['temp'])
    humidity.append(info['main']['humidity'])
    clouds.append(info['clouds']['all'])
    wind.append(info['wind']['speed'])
    time.sleep(1)
#assign the values from the arrays to the data frame
new_data["Temperature"]=temp
new_data["Humidity"]=humidity
new_data["Clouds"]=clouds
new_data["Wind Speed"]=wind

we are now on city number 1
The name of the city is avarua
https://api.openweathermap.org/data/2.5/weather?q=avarua&appid=5f41a0ecbd821c8225b9c20de6cc9b04&units=imperial
__________________________________________________________________________________________

KeyError: 'main'

In [ ]:
new_data.head()

In [ ]:
plt.scatter(new_data["Lat"],new_data["Temperature"],marker ="o")
sns.set()
plt.show()